body {
    background-color: #000;
    color: white;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header, footer {
    background-color: #222;
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
}

h1, h2 {
    color: #ffa500;
}
